{% extends "delvicious/base_user.html" %}

{% block welcome %}
<div class="login">
  {% if user.is_authenticated %}
    Welcome, {{ user.username }}
    (<a href="{% google_logout_url "/delvicious/" %}">Logout</a>)
    <br/>
    <br/>
	First, <a href="/delvicious/add_delicious_account/">add a Delicious account</a><br/>
  {% else %}
    <a href="{% google_login_url request.get_full_path %}">Login</a> with your Google account and then add a Delicious account.
  {% endif %}
</div>
{% endblock %}

{% block links %}


{% endblock %}

