{% extends "delvicious/base_user.html" %}

{% block welcome %}
<div class="login">
  {% if user.is_authenticated %}
    Welcome, {{ user.username }}
    (<a href="{% google_logout_url "/delvicious/" %}">Logout</a>)
    <br/>
    <br/>s
	Search
  {% else %}
    <a href="/delvicious/signup">Signup</a> with your Delicious username and password.
    <br/>
    <br/>
	<a href="{% url django.contrib.auth.views.login %}?redirect_to={{ request.get_full_path|urlencode }}">Login</a> if you've already signed up.
    <br/>
    <br/>
    <a href="">Request</a> a password reset link if you've changed your Delicious password.
  {% endif %}
</div>
{% endblock %}

{% block links %}


{% endblock %}

